* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	background-color: #f5f5f5;
	background: #f5f5f5 url(images/body_bj.png) no-repeat center 0;
}

ul, ol, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #c8e1fa;
}

button,input,textarea {
	padding: 0;
	outline: none;
	border: 0;
}

button {
	cursor: pointer;
}

img {
	vertical-align: middle;
}

/* 声明清除浮动样式 */
/* 伪元素清除浮动 */
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix { /* 兼容IE6、7 */
	*zoom: 1;
}
/* 方法二 */
/* 双伪元素清除浮动
.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
 */

.floatL  {
	float: left;
}

.floatR {
	float: right;
}

.marginAuto {
	margin: 0 auto;
}

.w {
	width: 1038px;
	margin: 0 auto;
}


/* 头部 开始 */
.header {
	width: 100%;
	position: fixed;
	top: 0;
	height: 40px;
	/*line-height: 40px;*/
	border-bottom: 1px solid #c4c4c4;
	background-color: #001e3b;
	z-index: 999;
}

.header .personal a {
	display: inline-block;
	width: 90px;
	height: 40px;
	line-height: 40px;
	margin: 0 10px;
	padding: 0 10px;
	text-align: center;
	color: #bed8f2;
	background-color: #003261;
}

.personal a span {
	float: left;
	display: inline-block;
	width: 23px;
	height: 21px;
	margin-right: 6px;
	background: url(images/fairy_img.png) no-repeat 0 0;
	margin-top: 10px;
}

.headNav li {
	float: left;
}

.headNav li a {
	display: inline-block;
	/*width: 88px;*/
	height: 30px;
	margin-right: 15px;
	padding-top: 10px;
	color: #aec3d7;
	position: relative;
}

.header a img {
	margin-right: 5px;
	vertical-align: middle;
}

.header li a i {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 18px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	border-radius: 3px;
	background-color: #d7605c;
	color: #fff;
	font-style: normal;
	font-size: 8px;

}

.headNav em {
	display: inline-block;
	border-top: 3px solid #2a5b8c;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 3px solid transparent;
	margin: 10px 0 0 5px;
}

.search {
	height: 30px;
	padding-top: 10px;
}

.search img {
	vertical-align: bottom;
	cursor: pointer;
}

.search input {
	font-size: 12px;
	width: 130px;
	height: 20px;
	padding-left: 5px;
	margin-left: 15px;
	background: #40566c url(images/search_icon03.jpg) no-repeat 118px center;
}

.search input::-webkit-input-placeholder {
	color: #869eb5;
}

.headAvatar {
	color: #aec3d7;
	line-height: 40px;
	margin-left: 15px;
}

.headAvatar>img {
	width: 24px;
	vertical-align: middle;
}


/* 头部 结束 */

.user {
	margin-top: 65px;
	margin-bottom: 66px;
	position: relative;
}

.user h1 {
	font-size: 30px;
	color: #8cc6ff;
}

.user h1 img {
	vertical-align: middle;
	margin-left: 10px;
}

.user a {
	display: inline-block;
	width: 58px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	background-color: #939393;
	border-radius: 16px;
	position: absolute;
	right: 0;
	bottom: -20px;
}

.user a img {
	margin-right: 8px;
	vertical-align: text-top;
}

/* avatar 开始 */
.avatar {
	height: 170px;
	margin-bottom: 10px;
}

.avaImg {
	width: 126px;
	height: 123px;
	text-align: center;
	padding-top: 3px;
	background-color: #fff;
	border: 1px solid #d9d9d9;
	margin-right: 15px;
}

.avaIntro h3 {
	color: #95c7ff;
	margin-bottom: 20px;
}

.avaIntro h3 img {
	vertical-align: middle;
}

.avaIntro table {
	font-size: 12px;
	color: #8cc6ff;
}

.avaIntro td {
	padding-right: 10px;
}

.avaIntro button {
	width: 80px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #a35c07;
	background-color: #ffcd06;
	border: 1px solid #d69200;
}

.avatarR {
	padding-top: 36px;
	color: #8cc6f0;
}

.avaT {
	height: 42px;
	margin-bottom: 30px;
	padding: 8px 0 0 70px;
	background: url(images/visit.png) no-repeat 20px center;
	font-size: 12px;
}

.avaT span {
	font-size: 14px;
}


.avaB img {
	vertical-align: top;
	margin: 0 6px;
	cursor: pointer;
}

/*content start*/
.content {
	font-size: 12px;
}
.contentL {
	width: 170px;
	margin-right: 23px;
}

.cententC {
	width: 592px;
}

.contentR {
	width: 230px;
}

.content>div>div {
	margin-bottom: 12px;
	background-color: #265380;
}

.contentL>div,.contentR>div {
	border: 1px solid #0f2f4d;
	border-radius: 2px;
}

/*contentL start*/
/* subnav */
.subnav {
	padding-top: 3px;
}

.subnav li a {
	display: block;
	height: 36px;
	line-height: 36px;
	padding-left: 17px;
}

.subnav li a:hover {
	font-weight: 700;
	background-color: #2b5883;
}

.subnav a span {
	display: inline-block;
	width: 17px;
	height: 16px;
	vertical-align: middle;
	margin-right: 10px;
}

.subnav button {
	width: 100%;
	height: 20px;
	line-height: 20px;
	border-top: 1px solid #265380;
	background-color: #224b73;
}

.subnav button span {
	display: inline-block;
	width: 13px;
	height: 8px;
	background: url(images/fairy_img.png) no-repeat -350px -100px;
}

/* 中间游戏列表 */
.gameList li a {
	display: inline-block;
	padding: 0 14px 0 17px;
	height: 37px;
	line-height: 37px;
}

.gameList li span {
	display: inline-block;
	width: 17px;
	height: 17px;
	vertical-align: middle;
	margin-right: 10px;
}

.gameList button {
	width: 100%;
	height: 37px;
	line-height: 37px;
	background-color: transparent;
	color: #8cc6ff;
}

/* 热门游戏 */
.gameHot {
	color: #c8e1fa;
}

.gameHot h3 {
	position: relative;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	height: 19px;
	border-bottom: 1px solid #1f4266;
	margin-bottom: 20px;
}

.gameHot h3 span {
	position: absolute;
	bottom: 0;
	margin-bottom: -10px;
	left: 50%;
	margin-left: -35px;
	display: inline-block;
	width: 60px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	padding: 0 5px;
	background-color: #265380;
}

.gameHot ul {
	padding: 0 13px 0 17px;

}

.gameHot li a {
	display: inline-block;
	width: 100%;
	height: 36px;
	line-height: 36px;
}

.gameHot li span,.gameHot li em {
	display: inline-block;
	vertical-align: middle;
}

.gameHot li span {
	width: 17px;
	height: 17px;
	margin-right: 10px;
}

.gameHot li em {
	width: 11px;
	height: 17px;
	margin-top: 10px;
}

.gameHot li b {
	display: inline-block;
	width: 20px;
	height: 14px;
	line-height: 13px;
	text-align: center;
	margin-top: 13px;
	background-color: #d96561;
	color: #fff;
	font-weight: 400;
	border-radius: 7px;
}


.gameHot button {
	width: 100%;
	height: 20px;
	border-top: 1px solid #1f4266;
	margin: 4px 0;
	line-height: 20px;
	background-color:  #224b73;

}

.gameHot button span {
	display: inline-block;
	width: 13px;
	height: 8px;
	background: url(images/fairy_img.png) no-repeat -350px -100px; 
}

/* 下边广告 */
.advert {
	padding: 13px 4px;
}

.advert h3 {
	height: 19px;
	margin-bottom: 10px;
	color: #c8e1fa;
}

.advert h3 span {
	color: #a3b8cc;
	margin-right: 4px;
	font-size: 20px;
	margin-top: -4px;
}

.advert p {
	color: #8cc6ff;
	margin-top: 10px;
}

/*主体内容中间*/
/*banner 大图片*/
.cententC .bannerImg {
	border: 0;
}

/*留言板*/
.words {
	border: 1px solid #0f2f4d;
}

.words textarea {
	background-color: #2a5b8c;
	padding: 7px;
	width: 477px;
	height: 54px;
	margin-left: 1px;
	margin-bottom: 1px;
	vertical-align: top;
	color: #c8e1fa;
	resize: none;
}

.words textarea::-webkit-input-placeholder {
	color: #7ea0c2;
}

.words a {
	float: right;
	/* 这里用inline-block行内块之间会有空隙 */
	display: block;
	width: 48px;
	height: 68px;
	line-height: 68px;
	text-align: center;
	border-left: 1px solid #1f4266;
}

.words a span {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.allTrends {
	padding: 0 15px;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #1f4266;
}

.allTrends h3 span {
	display: inline-block;
	width: 13px;
	height: 8px;
	margin-left: 5px;
	background: url(images/fairy_img.png) no-repeat -350px -100px; 
}

.allTrends div a {
	margin-left: 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

/*单条动态*/
.trends {
	padding: 16px;
	color: #c8e1fa;
}

.trHd img {
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}

.trHd a span {
	display: inline-block;
	font-size: 16px;
	margin: 5px 0 10px;
}

.trHd a strong {
	font-weight: normal;
	color: #7ea0c2;
}

.trHd em {
	width: 14px;
	height: 10px;
	background: url(images/fairy_img.png) no-repeat -100px -200px; 
}

.trContent {
	padding: 13px 0;
}

.trContent p {
	font-size: 16px;
	line-height: 24px;
}
.trendsImg {
	display: none;
	margin-top: 10px;
}

.skimL {
	color: #7ea0c2;
}

.skimR a {
	display: inline-block;
	width: 20px;
	height: 21px;
	margin-left: 60px;
}

.like {
	color: #72c6ff;
	margin-bottom: 5px;
}

.like strong {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 8px;
	vertical-align: middle;
}

.comment input {
	padding: 10px;
	border: 1px solid #1f4266;
	background-color: transparent;
	color: #c8e1fa;
}

.comment input[type="text"] {
	width: 500px;
	border-right: 0;
}

.comment input::-webkit-input-placeholder {
	color: #5099c2;
}

.comment input[type="image"] {
	padding-top: 9px;
	border-left: 0;
}

/* 游戏、广告推荐 */
.recommendT {
	padding: 16px;
	border-bottom: 1px solid #1f4266;
	color: #c8e1fa;
}

.recommendT h3 {
	font-size: 12px;
}

.recommendT em {
	width: 14px;
	height: 10px;
	background: url(images/fairy_img.png) no-repeat -100px -200px; 
}

.recommendB {
	padding: 16px;
	color: #8cc6ff;
}

.recommendB a {
	color: #8cc6ff;
}

.recommendB img {
	margin: 10px 0 20px;
}

.recommendB strong {
	color: #5d7895;
}

.recommendB span {
	color: #7ea0c2;
}

/*主体内容右边*/
/*签到*/
.register {
	border-radius: 0;
	color: #8cc6ff;
}

.register button {
	width: 68px;
	height: 68px;
	background-color: #0f2f4d;
	color: #8cc6ff;	
	font-size: 18px;
}

.register button span {
	font-size: 12px;
}

.register p {
	padding: 16px 0 0 24px;
}

.register p span {
	font-size: 18px;
}

/*右部广告*/
.rightAd {
	padding: 4px;
}

/*大家都在看*/
.allLook {
	padding: 15px 10px;
}

.allLook h3 {
	color: #c8e1f2;
}

.allLookC {
	height: 60px;
	margin: 14px 0 15px;
}

.allLookC img {
	margin-right: 10px;
}

.allLookC p {
	width: 118px;
	color: #c8e1fa;
	line-height: 20px;
}

.allLookC div em {
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin-right: 5px;
}

.allLookC div span {
	display: inline-block;
	width: 13px;
	height: 13px;
	border: 1px solid #1f4266;
	vertical-align: middle;
	text-align: center;
	line-height: 13px;
	color: #c8e1fa;
	margin-left: 10px;
}

.allLookC a {
	color: #8cc6ff;
}

.arrows {
	padding-left: 10px;
}

.arrows a {
	margin-right: 20px;
	font-family: "Simsun";
	font-weight: 700;
}

.arrL {
	color: #6283a4;
}

.arrR {
	color: #9db3c9;
}

/*被挡访客*/
.visitor {
	padding: 15px 10px;
}

.visitorHd span {
	margin: 0 5px;
	color: #1f4978;
}

.visitorHd a {
	color: #8cc6ff;
}

.visitorHd a.current {
	color: #c8e1fa;
	font-weight: 700;
}

.open {
	margin-top: 14px;
	padding: 14px 10px;
	border: 1px solid #1f4266;
	color: #c8e1fa;
}

.open p {
	width: 170px;
	line-height: 24px;
}

.open span {
	margin-top: -3px;
}

.open button {
	width: 78px;
	height: 18px;
	border: 1px solid #e0b025;
	background-color: #ffde36;
	color: #734600;
	font-size: 12px;
	border-radius: 2px;
}

.open button em {
	display: inline-block;
	width: 13px;
	height: 10px;
	margin-right: 5px;
	vertical-align: middle;
}

.visitorList ul {
	width: 213px;
}

.visitorList li {
	float: left;
	width: 68px;
	height: 94px;
	margin-right: 3px;
	margin-top: 8px;
	text-align: center;
}

.visitorList li img {
	width: 68px;
}

.visitorList ul span {
	display: inline-block;
	margin-top: 10px;
	color: #c8e1fa;
}

.visitorList .arrows {
	margin: 18px 0;
	padding-bottom: 18px;
	border-bottom: 1px solid #1f4266;
}

.visitorList .arrows span {
	display: inline-block;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background-color: #9fb4ca;
	vertical-align: middle;
}

.glance a {
	display: inline-block;
	text-align: center;
	margin-right: 15px;
}

.glance a span {
	display: inline-block;
	padding-top: 5px;
}

/*礼物*/
.gift,
.notice {
	padding: 15px 10px;
}

.gift h3 {
	font-size: 12px;
	color: #c8e1fa;
}

.gift li,
.notice li {
	margin-top: 10px;
	height: 50px;
	line-height: 50px;
}

.gift li img,
.notice li img {
	width: 50px;
}

.gift li p,
.notice li p {
	width: 65px;
	margin-left: 10px;
	color: #c8e1fa;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gift li button,
.notice li button  {
	width: 78px;
	height: 28px;
	border: 1px solid #1f4266;
	background-color: transparent;
	color: #c8e1fa;
	font-size: 12px;
}

.gift button em {
	display: inline-block;
	margin-right: 5px;
	width: 15px;
	height: 16px;
	vertical-align: middle;
}

.gift p span {
	color: #62a0b5;
}

.gift .arrows {
	margin-top: 15px;
}

.gift .arrL {
	color: #9db3c9;
}

.gift .arrows span {
	color: #8cc6ff;
	vertical-align: middle;
}

/*谁在意我*/
.notice h3 span {
	margin: 0 10px;
	color: #24466a;
	vertical-align: top;
}

.notice h3 a {
	font-weight: normal;
	color: #8cc6ff;
}

.notice h3 a.current {
	color: #c8e1fa;
	font-weight: 700;
}

.notice li em {
	display: inline-block;
	width: 17px;
	height: 15px;
	margin-right: 10px;
	vertical-align: middle;
}

.notice li button {
	width: 68px;
}
